<template>

    <section>
        <h1>mdc-chip</h1>


        <div class="mdc-chip-set">
            <div class="mdc-chip">
                <div class="mdc-chip__text">Chip content</div>
            </div>
            <div class="mdc-chip">
                <div class="mdc-chip__text">Chip content</div>
            </div>
            <div class="mdc-chip">
                <div class="mdc-chip__text">Chip content</div>
            </div>
        </div>
    </section>

    <section>

        <code-tabs>
            <template replace-part="tab-view-template">
                <au-code language="html">
                </au-code>
            </template>
        </code-tabs>

    </section>

</template>
