<template>

    <section>
        <h1>mdc-datepicker</h1>

        <mdc-datepicker locale.bind="locale" start-week-on="monday" value.bind="today">
            <label class="mdc-floating-label">Date</label>
            <div class="mdc-line-ripple"></div>
        </mdc-datepicker>
    </section>


    <section>

        <code-tabs>
            <template replace-part="tab-view-template">
                <au-code language="html">
                    <mdc-datepicker locale.bind="locale" start-week-on="monday" value.bind="today">
                        <label class="mdc-floating-label">Date</label>
                        <div class="mdc-line-ripple"></div>
                    </mdc-datepicker>
                </au-code>
            </template>
            <template replace-part="tab-model-template">
                <au-code language="javascript">
                    export class Datepicker {
                        locale = 'de';
                        today = new Date();
                    }
                </au-code>
            </template>
        </code-tabs>

    </section>

</template>
