<template>


    <style>
        .mdc-list {
            max-width: 600px;
            border: 1px solid rgba(0, 0, 0, .1);
        }
    </style>


    <div>
        <h3 class="mdc-typography--subtitle1">Two-Line with Leading and Trailing Icon and Divider</h3>

        <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
            <li class="mdc-list-item">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
                <span class="mdc-list-item__text">Dog Photos
                    <span class="mdc-list-item__secondary-text">9 Jan 2018</span>
                </span>
                <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
                <span class="mdc-list-item__text">Cat Photos
                    <span class="mdc-list-item__secondary-text">22 Dec 2017</span>
                </span>
                <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
                <span class="mdc-list-item__text">Potatoes
                    <span class="mdc-list-item__secondary-text">30 Noc 2017</span>
                </span>
                <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
                <span class="mdc-list-item__text">Carrots
                    <span class="mdc-list-item__secondary-text">17 Oct 2017</span>
                </span>
                <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
            </li>
        </ul>
    </div>

</template>
