<template>

    <div class="mdc-select" ref="select">
        <select class="mdc-select__native-control">
            <option value="" disabled selected></option>
            <option value="grains">Bread, Cereal, Rice, and Pasta</option>
            <option value="vegetables">Vegetables</option>
            <option value="fruit">Fruit</option>
        </select>
        <label class="mdc-floating-label">Pick a Food Group</label>
        <div class="mdc-line-ripple"></div>
    </div>


</template>
