<template>

    <section>
        <h1>mdc-switch</h1>

        <div class="mdc-switch">
            <input type="checkbox" class="mdc-switch__native-control" role="switch" value="on" checked.bind="switched">
            <div class="mdc-switch__background">
                <div class="mdc-switch__knob"></div>
            </div>
        </div>
        <label for="basic-switch">off/on</label>

        <button class="mdc-button" click.delegate="toggleSwitch()">toggle switch</button>

    </section>

    <section>

        <code-tabs>
            <template replace-part="tab-view-template">
                <au-code language="html">
                    <div class="mdc-switch">
                            <input type="checkbox" class="mdc-switch__native-control" role="switch" value="on" checked.bind="switched">
                        <div class="mdc-switch__background">
                            <div class="mdc-switch__knob"></div>
                        </div>
                    </div>
                    <label for="basic-switch">off/on</label>
                </au-code>
            </template>
            <template replace-part="tab-model-template">
                <au-code language="javascript">
                    import { bindable } from 'aurelia-framework';

                    export class Switch {
                        @bindable switched = true;
                    
                        toggleSwitch() {
                            this.switched = !this.switched;
                        }
                    }  
                </au-code>
            </template>
        </code-tabs>

    </section>

</template>
